<!-- resume/templates/resume/resume.html -->
{% load bootstrap4 %}
<!DOCTYPE html>
<html>
<head>
    <title>Резюме</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Резюме</h1>
    {% if resume %}
        <img src="{{ resume.photo.url }}" class="img-fluid" alt="Фото">
        <h2>О себе</h2>
        <p>{{ resume.about_me }}</p>
        <h2>Образование</h2>
        <p>{{ resume.education }}</p>
        {% if resume.education_files %}
            <a href="{{ resume.education_files.url }}" download>Скачать аттестат</a>
        {% endif %}
        <h2>Опыт работы</h2>
        <p>{{ resume.work_experience }}</p>
        <h2>Желаемая должность</h2>
        <p>{{ resume.desired_position }}</p>
        <h2>Дополнительная информация</h2>
        <p>{{ resume.additional_info }}</p>
        <h2>Контакты</h2>
        <p>{{ resume.contacts }}</p>
    {% else %}
        <p>Резюме отсутствует.</p>
    {% endif %}
    <a href="{% url 'edit_resume' %}" class="btn btn-primary">Редактировать резюме</a>
</div>
</body>
</html>
